*.DS_Store
*.vscode/
*.vs/
C\#/Angular\ -\ .NET\ Core\ Web\ API/StudentsApi/obj/
C\#/Angular\ -\ .NET\ Core\ Web\ API/StudentsApi/bin/
C\#/Angular\ -\ .NET\ Core\ Web\ API/StudentsApi/.vs/
C#/.DS_Store
*.cache/
C#/Commander/bin/
C#/Commander/obj/
C#/CompanyApi/obj/
C#/CompanyApi/bin/
C#/CompanyApi/.vs/
C#/WebApiAjax/bin/
C#/WebApiAjax/obj/
C#/WebApiAjax/.vs/
React/react-django-app/node-modules
React/react-django-app/leadmanager/.DS_Store
React/react-django-app/leadmanager/frontend/.DS_Store
React/react-django-app/leadmanager/frontend/src/.DS_Store
